<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulture</title>
</head>
<body style="background-image: url(https://wallpapercave.com/wp/wp3377158.jpg); background-size: cover; color: white; font-size: 20px;">
    <h1 style="color: red; text-align: center; font-weight: bold">Vulture</h1>
    <form action="/search" method="post">
        <input type="text" name="username" placeholder="Enter username here!" style="color: white; background-color: transparent; text-align: center; width: 20%; display: block; margin: 0 auto; border: 1px solid black; border-radius: 5px">
        <input type="submit" value="Search" style="color: white; background-color: black; text-align: center; width: 20%; display: block; margin: 0 auto; border: 1px solid black; border-radius: 5px; cursor: pointer">
    </form>
    <br>
    {% for result in results %}
        <p>
            <a href="{{ result.url }}" style="color: gray; font-size: 12px">-{{ result.url }}</a>
            <span style="color: cyan">{{ result.status_code }}</span>
        </p>
    {% endfor %}
</body>
</html>
